.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  background-color: white;
}

.logo {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.textWrapper {
  display: flex;
  font-size: 3rem;
  font-weight: bold;
  color: red; /* Fallback color */
}

.letter {
  display: inline-block;
  animation: bounce 1s infinite alternate, gradient 5s infinite;
}

.letter:nth-child(2) {
  animation-delay: 0.1s;
}

.letter:nth-child(3) {
  animation-delay: 0.15s;
}

.letter:nth-child(4) {
  animation-delay: 0.2s;
}

.letter:nth-child(5) {
  animation-delay: 0.25s;
}

.letter:nth-child(6) {
  animation-delay: 0.3s;
}

.letter:nth-child(7) {
  animation-delay: 0.35s;
}

.letter:nth-child(8) {
  animation-delay: 0.4s;
}

.letter:nth-child(9) {
  animation-delay: 0.45s;
}

.letter:nth-child(10) {
  animation-delay: 0.5s;
}

.letter:nth-child(11) {
  animation-delay: 0.55s;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(30px);
  }
  75% {
    transform: translateY(25px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes gradient {
  0% {
    color: red;
  }
  50% {
    color: #D3B0E0;
  }
  100% {
    color: red;
  }
}
